body {
    --background:#0f0f0f;
    --color:#dfdfdf;
    --points:#ffffff;
    --main-family: "Lucida Console", "Courier New", monospace;
    --sub-family: Inconsolata, sans-serif;

    background: var(--background);
    color: var(--color);
    padding: none;
    overflow: hidden;
}

* {
    font-family: var(--sub-family);
    scrollbar-width: thin;
    scrollbar-color: #ffffff2f transparent;
}

::-webkit-scrollbar {
    width: .3rem; height: .3rem;
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #ffffff2f;
    border-radius: .15rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #ffffff4f;
}
::-webkit-scrollbar-thumb:active {
    background: #ffffff3f;
}
TMT {
    perspective: 100rem;
}
TMT > * {
    width: 3rem;
    height: 3rem;

    background: linear-gradient(#850bc5, #9406fa);
    color: #0000007f;
    border: .15rem solid #0000003f;
    box-shadow: 0 0 5rem #850bc5, inset -.2rem -.2rem .2rem #0000003f;
    font-family: var(--main-family);
    font-weight: bold;
    font-size: 1.2rem;

    display: flex;
    position: absolute;
    top: -.55rem; left: .45rem;
    border-radius: 50%;
    transform: rotateX(15deg) rotateY(10deg) rotateZ(-5deg);
    perspective: 100rem;
    
    justify-content: center;
    align-items: center;

    transition-property: filter, box-shadow;
    transition-duration: .5s;

}
TMT > *:hover {
    filter: brightness(1.25);
    box-shadow: 0 0 5rem #850bc5, inset -.2rem -.2rem .2rem #0000003f, 0 0 1rem #9406fa;
    transition-duration: .1s;
}
TMT > *:active {
    filter: brightness(.8);
    box-shadow: 0 0 3rem #850bc5, inset -.2rem -.2rem .2rem #0000003f;
    transition-duration: 0s;
}

header {
    background: #000000;
    padding: 0.5rem;
    padding-left: 4.5rem;

    position: absolute;
    top: 0; left: 0; right: 0;
    z-index: 10;

    box-shadow: 0 0 1rem #000000;

    overflow: hidden;

    user-select: none;
}

contents {

    display: block;
    width: 12rem;
    padding: 2.5rem 2rem 2rem 2rem;

    position: absolute;
    top: 2.1rem; bottom: 0; left: 0;
    z-index: 5;
    

    overflow-x: visible;
    overflow-y: scroll;
}

.compact contents {
    background: #1f1f1f;
    width: calc(20vw + 9rem);
    padding: 2rem;
    left: calc(-20vw - 14rem);
    transition: 0.3s;
}
.compact contents.active {
    box-shadow: 0 0 2rem #000000, 0 0 0 10000vw #0000007f;
    left: 0;
}

category {
    background: linear-gradient(#0000, #0f0f0f 20%);
    display: block;
    margin: -.15rem 0 .25rem -2rem;
    padding: 1.15rem 0 .25rem 2rem;

    position: sticky;
    top: -3rem;

    font-weight: bold;
    border-bottom: .15rem solid #ffffff2f;
}
.compact category {
    font-size: 1.2rem;
    padding: 1.35rem 0 .25rem 2rem;
    background: linear-gradient(#1110, #1f1f1f 20%);
    top: -2.5rem;
}

item, .item {
    display: block;
    margin-left: .3rem;
    padding: .2rem .4rem;
    font-size: 0.9rem;
    overflow: hidden;

    border-radius: 5px;
    border: .15rem solid #00000000;

    user-select: none;
    transition-duration: .3s;
}
.compact item {
    font-size: 1rem;
}
item.first {
    font-weight: bold;
    margin-left: 0rem;
    padding: .25rem .4rem;
}
item:hover, .item:hover {
    background: #ffffff1f;
    border: .15rem solid #0000001f;
    box-shadow: 0 .1rem .5rem #0000007f;
    transition-duration: .1s;
}
item:active, .item:active {
    transform: translateY(.05rem);
    box-shadow: 0 .05rem .25rem #0000007f;
}
item.current {
    background: rgb(119, 21, 189);
    color: var(--color);
    border: .15rem solid #0000001f;
    margin: .25rem -.75rem .25rem -2.3rem;
    padding-right: 1rem;
    padding-left: 3rem;
    transition-duration: .3s;
    transform: none;
    box-shadow: 0 .1rem .5rem #0000007f;
}
item.first.current {
    margin-left: -2.6rem;
}

main {
    display: block;
    padding: 1rem 1.5rem 2rem 2rem;
    line-height: 1.25;

    position: absolute;
    top: 2.1rem; bottom: 0; left: 16rem; right: 15rem;
    overflow-y: scroll;
}
.compact main {
    left: 0rem;
    padding-left: 3rem;
}
.compact2 main {
    right: 0rem;
    padding-right: 3rem;
}

code {
    font-family: Consolas, monospace;
    padding-top: -.1rem;
    font-size: .9rem;
}
code:not(pre code) {
    background: #272727;
    padding: 0.1rem;
    border-radius: 0.2rem;
    line-height: 0.75;
}
pre {
    background: #272727;
    border-radius: 0.2rem;
    padding: 1rem;
    overflow: auto;
}

a {
    color: #41f5f5
}
a:visited {
    color: #f541f5
}

.menu-button {
    padding: 0 .45rem;
    margin: -.5rem;
    position: absolute;
    right: .5rem;
    display: none;
    background: transparent;
    color: var(--color);
    border: .15rem solid #00000000;
    border-radius: 0;
    outline: none;
    transition-duration: .5s;
    height: 2rem;
}
.menu-button:hover {
    background: #ffffff1f;
    border: .15rem solid #0000001f;
    box-shadow: 0 .1rem .5rem #0000007f;
    transition-duration: .1s;
}
.menu-button:active {
    transform: translateY(.05rem);
    box-shadow: 0 .05rem .25rem #0000007f;
}
.compact2 .menu-button {
    display: inline-block;
}

commands {
    display: block;
    width: 11.5rem;
    padding: 2.5rem 2rem 2rem 1rem;
    font-size: .9rem;

    position: absolute;
    top: 2.1rem; bottom: 0; right: 0;
    z-index: 5;
    user-select: none;

    overflow-x: visible;
    overflow-y: hidden;
}
.compact2 commands {
    background: #1f1f1f;
    width: calc(15vw + 7rem);
    padding: 2rem;
    right: calc(-15vw - 12rem);
    transition: 0.3s;
}
.compact2 commands.active {
    box-shadow: 0 0 2rem #000000, 0 0 0 10000vw #0000007f;
    right: 0;
}

filler {
    display: block;
    height: 100%;
}
footer {
    opacity: .5;
    position: sticky;
    bottom: 0;
    font-size: 0.75em;
    line-height: 1.2;
}